
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');
*{
    font-family: 'Ubuntu Mono', monospace;
    padding: 0;
    margin: 0;
    
}

body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom , #472914, #000000ee 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    height: 75%;
    width: 75%;
    border: solid #000;
    border-radius: 30px;
    background-image:linear-gradient(to bottom ,#00000072   , #00000076 ) ,
    url(Warner_Theatre.jpg.webp);
    background-position: center;
}

.container:hover{
    background-image:linear-gradient( #00000072 , transparent ) ,
    url(Warner_Theatre.jpg.webp);
    border: #F4A460 solid;
}

a{color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}



.logo{
    color: #fff;
    text-transform: uppercase;
    
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}


.nav ul{
    width: 600px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    
}

ul li {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    border-bottom: transparent;
}


 li a:hover{

    border-bottom: rgb(255, 255, 255) solid;}

.d2{
    color: #fff;
    display: flex;
    align-items: end;
    margin-top: 351px;
}

button{
    border-radius: 20px;
    
}





















